@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

*{
  font-family: 'Baloo 2', cursive;
  margin:0;
  padding: 0;
}
body{
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
}

@media screen and (min-width: 900px){
  body{
    overflow-y: auto;
  }
}